<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <title>Request Support</title>
</head>
<body>
	<p>Hi,</p>
	<p>Following are the details of the problem: </p>
	<ul>
		Problem Description:
		<li>
			<%= @problem %>
		</li>
	</ul>
	<ul>
		Client Name:
		<li>
			<%= @client %>
		</li>
	</ul>
	<ul>
		Phone:
		<li>
			<%= @phone %>
		</li>
	</ul>
</body>
</html>