<div class = "category">
	<table border="0" width="100%" >
		<tr>		
			<td width="65%">		
				<%= fields_for "category[]", category do |ncform|%>
					<%= ncform.text_field :category_name, :placeholder => "New Category", :class => "textstylesmall" %>
				<% end %>
			</td>
			<td width="45%" align = "left">
				<%= submit_tag "add" %>
			</td>
		</tr>
	</table>
</div>