<table>
	<% if @products.blank? %>
		<tr>
			<td>
				<%= label_tag "No Products available." %>
			</td>
		</tr>
	<% else %>
		<% @products.each do |product| %>
			<tr>
				<td>
					<span class='gray-circle' id='gc<%= product.product_name.gsub(/ /,'') %>'></span><%= link_to product.product_name, "#",  :id => 'lnk'+product.product_name.gsub(/ /,''), :value => product.id %>
				</td>
			</tr>
		<% end %>
	<% end %>
</table>