<div class = "product">
	<table border="0" width="100%" >
		<tr>		
			<td width="65%">		
				<%= fields_for "category[product_attributes][]", product do |npform|%>
					<%= npform.text_field :product_name, :placeholder => "New Product", :class => "textstylesmall" %>
				<% end %>
			</td>			
		</tr>
	</table>
</div>