<div class = "product">
	<%= fields_for "category[product_attributes][]", product do |npform|%>
		<%= npform.text_field :product_name, :placeholder => "New Product", :class => "textstylesmall" %>
	<% end %>
</div>